
<div class="container">
    <form class="form-signin" >
 
        <h2 class="form-signin-heading">Add Category</h2>
        <div class="form-group">
            <label for="catName">Category Name</label>
            <input type="text" id="catName" class="form-control" [(ngModel)]="param.catName" placeholder="Enter Name"/>
        </div>
        <div class="form-group">
            <label for="catIcon">Select Brand</label>
            <select  class="form-control" id="brand">
                <option *ngFor="let item of brands; let i = index" value="{{item.key}}">{{item.name}}</option> 
            </select>
        </div>

        <div class="form-group" name="parent">
            <label for="uId">Parent category</label> 
            <select  class="form-control" id="parent">
                <option value="0">Parent category</option>
                <option *ngFor="let item of parents; let i = index" value="{{item.key}}">{{item.catName}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="catIcon">Category Image(url)</label>

            <input type="text" class="form-control" id="path" placeholder="Category Image Url" required>
        </div>


        <div class="borderbtn">
            <button class="btn btn-lg btn-primary btn-block" (click)="tryAddCategory( )">Save</button>
        </div>

    </form>
</div>